<%- include('partials/nav.ejs') %>
<div>
    <img src="images/beer.png" alt="beer" id="beerImg">
    <a class="checkBeer">Check the Beers!</a>
    <a class="checkRandomBeer">Check a Random Beer</a>
</div>
<%- include('partials/footer.ejs') %>