/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

* {
    /* border: 1px grey solid; */
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

nav {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #0a2c42;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a2c42;
    color: white;
}

#beerImg {
    max-width: 500px;
}

#beersArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.eachBeer {
    margin: 20px;
    max-width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.eachBeer h3 {
    font-weight: 700;
    font-size: 1.2rem;
}

.eachBeerImg {
    height: 200px;
}